<% layout('/layouts/boilerplate') %>
<h1>No.<%=furniture._id%> Furniture</h1>
<h2><%= furniture.name%></h2>
<ul>
  <img src="<%=furniture.img %>" alt="" />
  <li><%= furniture.description %></li>
  <li><%= furniture.location%></li>
  <li><%= furniture.price%></li>
</ul>
<a href="/furnitures/<%=furniture._id%>/edit">Edit this furniture</a>
<form action="/furnitures/<%=furniture._id%>?_method=DELETE" method="POST">
  <button>Delete the item</button>
</form>
