<% layout('/layouts/boilerplate') %>

<div class="container d-flex justify-content-center">
  <div class="card" style="width: 80vw">
    <img src="<%=furniture.img %>" alt="" class="card-img-top" />
    <div class="card-body">
      <h2 class="card-title"><%= furniture.name%></h2>
      <small class="card-subtitle mb-2 text-body-secondary"
        >No.<%=furniture._id%></small
      >
      <div class="card-text"><i><%=furniture.description%></i></div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-currency-dollar"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
          />
        </svg>
        <%= furniture.price%>
      </li>
      <li class="list-group-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-geo-alt"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
          />
          <path
            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
          />
        </svg>
        <%= furniture.location%>
      </li>
    </ul>

    <div class="card-body">
      <form
        action="/furnitures/<%=furniture._id%>?_method=DELETE"
        method="POST"
        class="row justify-content-evenly"
      >
        <button
          class="btn btn-secondary col-3"
          style="background-color: #436850"
        >
          <a
            href="/furnitures/<%=furniture._id%>/edit"
            style="text-decoration: none; color: white"
            >Edit this furniture</a
          >
        </button>
        <button
          class="btn btn-secondary col-3"
          style="background-color: #9b4444"
        >
          Delete the item
        </button>
      </form>
    </div>
    <div class="card-footer text-body-secondary">
      <!-- <a href="/furnitures">View all furnitures</a> -->
      <a href="/furnitures/<%=furniture.id%>/comment/new">Leave a comment</a>
    </div>
  </div>
</div>

<div class="container">
  <ol class="list-group" style="width: 100%; margin-top: 20px">
    <%if(furniture.comments.length){%> <%for(let comment of
    furniture.comments){%>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">User name</div>
        <%= comment.text%>
        <span
          class="position-absolute top-0 start-100 translate-middle badge text-bg-primary rounded-pill"
          >likes</span
        >
      </div>
      <%}%> <%} else{%>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">No Comments</div>
        <p>Please make the first comment</p>
      </div>
    </li>
      <%}%>
    </li>
  </ol>
</div>
