<% layout('/layouts/boilerplate') %>
<h1>All Furnitures</h1>
<div id="myMap" class="container-fluid" style="height: 60dvh"></div>

<script>
  const allFurnitures = <%- JSON.stringify(allFurnitures) %>;
</script>
<script
  type="text/javascript"
  src="http://www.bing.com/api/maps/mapcontrol?callback=GetMap&setMkt=en-AU&setLang=en&key=<%=process.env.MAP_KEY%>"
  defer
></script>
<script type="text/javascript">
  async function GetMap() {
    const map = new Microsoft.Maps.Map('#myMap', {});
    map.setView({
      credentials: 'Your Bing Maps Key',
      center: new Microsoft.Maps.Location(-34.3915, 150.85),
      mapTypeId: Microsoft.Maps.MapTypeId.aerial,
      zoom: 12,
    });

    // Function to add pins to the map with initial content
    function addPinsWithContent(longitude, latitude, suburb) {
      // Provide location to add pin on map
      const location = new Microsoft.Maps.Location(longitude, latitude);
      // Create a pin on the map
      const pin = new Microsoft.Maps.Pushpin(location, {
        title: suburb,
        subTitle: 'Description of furniture',
        text: '1',
      });
      // Add the pin to the map
      map.entities.push(pin);
    }

    // Function to update pin content based on zoom level
    function updatePinContentBasedOnZoomLevel(zoomLevel) {
      // Example: Update pin text based on zoom level
      const pin = map.entities.get(0); // Assuming only one pin is added to the map
      if (zoomLevel > 13.1) {
        pin.setOptions({
          text: 'More detailed content', // Update pin text with more detailed information
        });
      } else {
        pin.setOptions({
          text: '1', // Reset pin text to default if zoom level is less than or equal to 15
        });
      }
    }

    // Function to handle map zoom level change
    function handleZoomLevelChange() {
      const currentZoomLevel = map.getZoom(); // Get current zoom level of the map
      // Update pin content based on current zoom level
      updatePinContentBasedOnZoomLevel(currentZoomLevel);
    }

    // Event listener for map zoom level change
    Microsoft.Maps.Events.addHandler(map, 'viewchange', handleZoomLevelChange);

    // Add pins to the map with initial content
    for (let furniture of allFurnitures) {
      const coordinate = furniture.geolocation.coordinates;
      addPinsWithContent(coordinate[0], coordinate[1], furniture.location);
    }
  }
</script>
<%for(let furniture of allFurnitures){%>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img
        src="<%=furniture.img[0].url%>"
        class="img-fluid"
        alt="furniture image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=furniture.name%></h5>
        <p class="card-text">$<%=furniture.price%></p>
        <p class="card-text">Location: <%=furniture.location%></p>
        <a href="/furnitures/<%=furniture._id%>" class="card-link">Details</a>
      </div>
    </div>
  </div>
</div>

<%}%>
