<% layout('/layouts/boilerplate') %>
<h1>All Furnitures</h1>
<div id="myMap" class="container-fluid" style="height: 60dvh"></div>

<script>
  const allFurnitures = <%- JSON.stringify(allFurnitures) %>;
</script>
<script
  type="text/javascript"
  src="http://www.bing.com/api/maps/mapcontrol?callback=GetMap&setMkt=en-AU&setLang=en&key=<%=process.env.MAP_KEY%>"
  defer
></script>
<script type="text/javascript">
  let infobox;
  let changeFlag = -1;

  async function GetMap() {
    const map = new Microsoft.Maps.Map('#myMap', {});
    map.setView({
      credentials: 'Your Bing Maps Key',
      center: new Microsoft.Maps.Location(-34.3915, 150.85),
      mapTypeId: Microsoft.Maps.MapTypeId.road,
      zoom: 12,
    });

    // set up infobox

    //Create an infobox at the center of the map but don't show it.
    infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
      visible: false,
    });

    //Assign the infobox to a map instance.
    infobox.setMap(map);

    // Function to add pins to the map with initial content
    function addPinsWithContent(longitude, latitude, suburb, count) {
      // Provide location to add pin on map
      const location = new Microsoft.Maps.Location(longitude, latitude);
      // Create a pin on the map

      const pin = new Microsoft.Maps.Pushpin(location, {
        title: suburb,
        subTitle: '',
        text: count,
        color: '#3468C0',
      });
      Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
      // Add the pin to the map
      map.entities.push(pin);
    }

    // Add pins to the map with initial content
    // to do display sum of the furnitures in each suburb/city
    const groupedFurnitures = Object.groupBy(
      allFurnitures,
      ({ suburb }) => suburb
    );
    const cityGroup = Object.groupBy(allFurnitures, ({ city }) => city);
    const addPushPinBasedOnArray = (array) => {
      for (let location in array) {
        const furniture = array[location];
        const funritureNumber = String(furniture.length);
        const coordinate = furniture[0].geolocation.coordinates;
        addPinsWithContent(
          coordinate[0],
          coordinate[1],
          location,
          funritureNumber
        );
      }
    };
    addPushPinBasedOnArray(groupedFurnitures);

    // Function to update pin content based on zoom level
    function updatePinContentBasedOnZoomLevel(zoomLevel) {
      // Example: Update pin text based on zoom level
      const pinNumber = map.entities.getLength();
      if (zoomLevel < 11) {
        changeFlag = 1; // 1 means get city
        map.entities.clear();
        addPushPinBasedOnArray(cityGroup);
      } else {
        changeFlag = -1; // means suburb
        map.entities.clear();
        addPushPinBasedOnArray(groupedFurnitures);
      }
    }

    // Function to handle map zoom level change
    function handleZoomLevelChange() {
      const currentZoomLevel = map.getZoom(); // Get current zoom level of the map
      // Update pin content based on current zoom level
      updatePinContentBasedOnZoomLevel(currentZoomLevel);
    }

    // Event listener for map zoom level change
    Microsoft.Maps.Events.addHandler(map, 'viewchange', handleZoomLevelChange);
  }
  function pushpinClicked(e) {
    if (e.target._options) {
      const locationName = e.target._options.title;
      let groupFurnitures;
      // find the item list, city or suburb
      if (changeFlag === 1) {
        groupFurnitures = Object.groupBy(allFurnitures, ({ city }) => city)[
          locationName
        ];
      } else if (changeFlag === -1) {
        groupFurnitures = Object.groupBy(allFurnitures, ({ suburb }) => suburb)[
          locationName
        ];
      }

      let description = [];
      //Check to see if the pushpin is a cluster.
      if (e.target._options) {
        //Create a list of all pushpins that are in the cluster.
        description.push('<div style="max-height:75px;overflow-y:auto;"><ul>');
        for (var i = 0; i < groupFurnitures.length; i++) {
          description.push(
            `<li><a href="/furnitures/${groupFurnitures[i]._id}">${groupFurnitures[i].name}`
          );
        }
        description.push('</ul></div>');
      }
      //Set the infobox options with the metadata of the pushpin.
      infobox.setOptions({
        location: e.target.getLocation(),
        title: e.target._options.title,
        description: description.join(''),
        visible: true,
        showPointer: false,
      });
    }
  }
</script>

<%for(let furniture of allFurnitures){%>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <% if (furniture.img.length >=1){%>
      <img
        src="<%=furniture.img[0].url%>"
        class="img-fluid"
        alt="furniture image"
      />
      <%}else{%>
      <p style="text-align: center"><b>Poster hasn't shared any pictures</b></p>
      <%}%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=furniture.name%></h5>
        <p class="card-text">$<%=furniture.price%></p>
        <p class="card-text">
          Location: <%=furniture.suburb%>, <%=furniture.city%>
        </p>
        <a href="/furnitures/<%=furniture._id%>" class="card-link">Details</a>
      </div>
    </div>
  </div>
</div>

<%}%>
